<div class="col-sm-3">
<ul class="nav nav-pills nav-stacked" id='admin_nav'>
  <li role="presentation"><a href="/admin/{{account.id}}/admin_home">我的主页</a></li>
  <li role="presentation"><a href="/admin/{{account.id}}/student_list">学生管理</a></li>
  <li role="presentation"><a href="/admin/{{account.id}}/course_list">课程管理</a></li>
  <li role="presentation"><a href="/admin/{{account.id}}/note_list">日记管理</a></li>
  <li role="presentation"><a href="/admin/{{account.id}}/question_list">问答管理</a></li>
</ul>
</div>