<div class="col-sm-3" style='margin-top:30px;'>
<ul class="nav nav-pills nav-stacked" id='student_nav'>
  <li role="presentation"><a href="/student/{{account.id}}/my_home">我的主页</a></li>
  <li role="presentation"><a href="/student/{{account.id}}/my_course">我的课程</a></li>
  <li role="presentation"><a href="/student/{{account.id}}/my_note">我的日记</a></li>
  <li role="presentation"><a href="/student/{{account.id}}/my_question">我的问答</a></li>
  <li role="presentation"><a href="/student/{{account.id}}/my_account">我的账户</a></li>
   <li role="presentation"><a href="/student/{{account.id}}/my_suggestion">我的建议</a></li>
   <li role="presentation"><a href="/student/{{account.id}}/note_collect">日记收藏</a></li>
</ul>
</div>