{{>question_nav}}
<div class="col-sm-9">
<div class="panel panel-default">
<input type='hidden' id='tag' value='{{tag}}'>
  <div class="panel-heading">
  <div class="col-sm-offset-1">
     <h3>{{name}}</h3>
    <p><span style='color:#428bca'>提问者:</span>&nbsp;&nbsp;{{stu_account}},&nbsp;&nbsp;<span style='color:#428bca'>提问时间:</span>&nbsp;&nbsp;{{time}}</p>
  </div>
  </div>
  <div class="panel-body col-sm-offset-1">
    <h4 style='color:#428bca'>问题内容</h4>
    <p >&nbsp;&nbsp;&nbsp;&nbsp;{{content}}</p>
  </div>

  <!-- List group -->
  <div class="panel-body col-sm-offset-1">
    <div class="list-group">
    {{#if answers}}
    <h4>所有回答</h4>
    {{#each answers}}
    <div class="list-group-item" style='padding-left:100px'>
      <h5 style='color:#428bca'>回答者:<span style='font-size:14px;color:black'>&nbsp;&nbsp;{{stu_account}}&nbsp;&nbsp;</span></h5>
      <h5 style='color:#428bca'>回答时间:<span style='font-size:14px;color:black'>&nbsp;&nbsp;{{time}}</span></h5>
    <h5 style='color:#428bca'>回答内容:</h4>
    <p style='margin-left:30px'>{{content}}</p>
    </div>
    {{/each}}
    {{else}}
    <h4>目前还没人回答</h4>
    {{/if}}
  </div>
  </div>
</div>
{{#if role.student}}
{{#if answerRight}}
<h3>&nbsp;&nbsp;我来回答</h3><br>
  <div class="formContainer">
      <form class="form-horizontal newsletterForm" role="form" action="/student/{{account.id}}/write_answer" method="POST">
          <div class="form-group">
              <label for="fieldContent" class="col-sm-2 control-label">回答内容</label>
              <div class="col-sm-9">
                  <textarea name="content" class='form-control' rows="15"></textarea>
              </div>
          </div>
        
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-4">
                  <button type="submit"  class="btn btn-default" >提交</button>
              </div>
          </div>
      </form>
  </div>
  {{/if}}
  {{/if}}
</div>

{{#section 'jquery'}}
  <script>
    $('document').ready(function(){
      $('#header_nav li').eq(3).addClass('active');
      var tag =  '#'+$("#tag").val();
      $(tag).addClass('active');
    });
  </script>
{{/section}}