{{> course_nav}}
<div class="col-sm-9">

<div class="panel panel-default">
<input type='hidden' id='tag' value='{{tag}}'>
  <div class="panel-heading">
    <h2>{{video_data.course_name}}</h2>
  </div>
  <div class="panel-body">
    <h4>第{{video_data.index}}课:&nbsp;&nbsp;{{video_data.name}}<h4>
    <video width="640" height="480" controls>
        <source src="{{video_data.url}}" type="video/mp4"/>
    </video>
  </div>
  </div>
<input id='tag' type='hidden' value='{{tag}}'>
</div>
{{#section 'jquery'}}
	<script>
		$('document').ready(function(){
			$('#header_nav li').eq(1).addClass('active');
			var tag = '#'+$('#tag').val();
			$(tag).addClass('active');
		});
	</script>
{{/section}}