{{>student_nav}}

<div class="col-sm-8 col-sm-offset-1">
	<div class='row'>
		<div class="col-sm-4">
			<h3 style="color:blue">账户信息</h3>
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-4">
			<h4>用户名:&nbsp;&nbsp;{{account.name}}</h4>
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-4">
			<h4>姓名:&nbsp;&nbsp;{{name}}</h4>
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-4">
			<h4>年级:&nbsp;&nbsp;{{grade}}</h4>
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-4">
			<h4>经验值:&nbsp;&nbsp;{{exp}}</h4>
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-4">
			<h4>日记篇数:&nbsp;&nbsp;{{note_number}}</h4>
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-4">
			<h4>提问数:&nbsp;&nbsp;{{question_number}}</h4>
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-4">
			<h4>回答数:&nbsp;&nbsp;{{answer_number}}</h4>
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-4">
			<h4>课程数:&nbsp;&nbsp;{{course_number}}</h4>
		</div>
	</div>
	<div class='row'>
		<div class="col-sm-4">
			<h4>密码:&nbsp;&nbsp;XXXXXXX</h4>
		</div>
		<div class="col-sm-1">
	                <button class="btn btn-info" onclick="window.location='/student/{{account.id}}/update_password'">修改密码</button>
	            </div>
	</div>
</div>

{{#section 'jquery'}}
	<script>
		$('document').ready(function(){
			$('#header_nav li').eq(4).addClass('active');
			$('#student_nav li').eq(4).addClass('active');
		});
	</script>
{{/section}}