{{>student_nav}}
<div class="col-sm-9">
	<div class="row">
		<div class="col-sm-8">
	                <h4 style="color:#428bca">我的课程<span>({{courseLength}})</span></h4>
	            </div>
	</div>
	
		{{#if courses_list}}
		<div class="row">
		{{#each courses_list}}
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="{{img}}" alt="{{course}}">
			      <div class="caption">
			       	<a href="/course/{{course}}/preferences">
			       		<h4>{{course}}</h4>
			        	</a>
			        <p>已学到:&nbsp;{{video}}</p>
			        <p><a href="/course/{{course}}/preferences" class="btn btn-primary" role="button">继续学习</a> <a href="/student/{{../account.id}}/course_del/{{course}}" class="btn btn-danger" role="button">退选此课程</a></p>
			      </div>
			    </div>
			  </div>
		 {{/each}}
		 </div>
		 {{else}}
		 <div class='row'>
			<div class="col-sm-8">
				<h4 class=''>你还没正在学习的课程，快去看看吧！</h4> 
				 <button class="btn btn-info" onclick="window.location='/course/list'">学习课程</button>
				 <p></p>
			</div>
		</div>
		 {{/if}}
		{{#if interest_courses}}
			<div class="row" style='border-top:1px solid grey'>
			<h4 style="color:#428bca">你可能感兴趣的课程</h4>
			{{#each interest_courses}}
				  <div class="col-md-4">
					  <p class="text-center">
					    <a href="/course/{{name}}/preferences" class="thumbnail">
					      <img src="{{img}}" alt="{{name}}">
					      <span style='font-size:16px'>{{name}}</span>
					      <br>
					        <span style='color:black'>学习人数：{{learning}}</span>
					    </a>
					  </p>
				  </div>
			  {{/each}}
		</div>
		{{/if}}
		{{#if fit_courses}}
			<div class="row" style='border-top:1px solid grey'>
			  <h4 style="color:#428bca">适合你的课程</h4>
			{{#each fit_courses}}
				  <div class="col-md-4">

					  <p class="text-center">
					    <a href="/course/{{name}}/preferences" class="thumbnail">
					      <img src="{{img}}" alt="{{name}}">
					      <span style='font-size:16px'>{{name}}</span>
					      <br>
					        <span style='color:black'>学习人数：{{learning}}</span>
					    </a>
					  </p>
				  </div>
			  {{/each}}
		</div>
		{{/if}}
</div>
{{#section 'jquery'}}
	<script>
		$('document').ready(function(){
			$('#header_nav li').eq(4).addClass('active');
			$('#student_nav li').eq(1).addClass('active');
		});
	</script>
{{/section}}