{{>student_nav}}

<div class="col-sm-9">
	<div class="row">
		<div class="col-sm-9">
	                <button class="btn btn-info" onclick="window.location='/question/list'">问答社区</button>
	                <button class="btn btn-info" onclick="window.location='/student/{{account.id}}/my_answer'">我的回答</button>
	            </div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
	                <h3>我的问题<span>({{questionLength}})</span></h3>
	            </div>
	</div>
{{#if questions}}
	{{#each questions}}
		  <div class="col-sm-12">
		    <div class="thumbnail">
		      <div class="caption">
		        <h4 style="color:blue">{{name}}</h4>
		        <p>{{content}}</p>
		        <p><a href="/question/{{id}}/preferences" class="btn btn-primary" role="button">查看回答</a></p>
		      </div>
		    </div>
		  </div>
	{{/each}}
{{else}}
<div class='row'>
	<div class="col-sm-12 text-center">
		<h4>你还没有提出问题，快去问答社区看看！</h4>
	</div>
</div>
{{/if}}
</div>

{{#section 'jquery'}}
	<script>
		$('document').ready(function(){
			$('#header_nav li').eq(4).addClass('active');
			$('#student_nav li').eq(3).addClass('active');
		});
	</script>
{{/section}}