{{>student_nav}}
<div class="col-sm-9">
	<h3>&nbsp;&nbsp;修改日记</h3><br>
	<div class="formContainer">
	    <form class="form-horizontal newsletterForm" role="form" action="/student/{{account.id}}/update_note/{{title}}" method="POST">
	        <div class="form-group">
	            <label for="fieldName" class="col-sm-2 control-label">日记标题</label>
	            <div class="col-sm-6">
	                <input type="text" class="form-control" disabled  name="title" autofocus="autofocus" value='{{title}}'>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="fieldTag" class="col-sm-2 control-label">日记标签</label>
	            <div class="col-sm-6">
	                 <select class="form-control" required name="tag">
			  <option class='tag' value="Java">Java</option>
			  <option class='tag' value="Android">Android</option>
			  <option class='tag' value="IOS">IOS</option>
			  <option class='tag' value="PHP">PHP</option>
			  <option class='tag' value="Node">Node.js</option>
		</select>
		<input  id='tag' type='hidden' value='{{tag}}'>
	            </div>
	        </div>
	            <div class="form-group">
	            <label for="fieldRead_right" class="col-sm-2 control-label">阅读权限</label>
	            <div class="col-sm-6">
	                <select class="form-control" required name="read_right">
		  <option class='read_right' value="0">仅自己可见</option>
		  <option class='read_right' value="1">所有人可见</option>
		</select>
		<input  id='read_right' type='hidden' value='{{read_right}}'>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="fieldContent" class="col-sm-2 control-label">日记内容</label>
	            <div class="col-sm-9">
	                <textarea  class='form-control' rows="15" name="content">{{content}}</textarea>
	            </div>
	        </div>
	        <div class="form-group">
	            <div class="col-sm-offset-2 col-sm-4">
	                <button type="submit"  class="btn btn-default" >提交</button>
	            </div>
	        </div>
	    </form>
	</div>
</div>
{{#section 'jquery'}}
	<script>
		$('document').ready(function(){
			$('#header_nav li').eq(4).addClass('active');
			$('#student_nav li').eq(2).addClass('active');
			var tag = $("#tag").val();
			$('option.tag[value='+tag+']').eq(0).prop('selected',true);
			var read_right = $("#read_right").val();
			$('option.read_right[value='+read_right+']').eq(0).prop('selected',true); 
		});
	</script>
{{/section}}