{{> note_nav}}
<div class="col-sm-9" id='container'>
{{#if notes}}
	{{#if role.student}}
	<div class="row">
		<div class="col-sm-9">
	                <button class="btn btn-info" onclick="window.location='/student/{{account.id}}/write_note'">写日记</button>
	            </div>
	</div>
	{{/if}}
	<div class="row">
		<div class="col-sm-9">
	                <br>
	            </div>
	</div>
	
	{{#each notes}}
		  <div class="col-sm-12">
		    <div class="thumbnail">
		      <div class="caption">
		      <div class="row">
		      	<div class="col-sm-3" style="text-align:center">
				<h4>{{title}}</h4>
		       	</div>
			<div class="col-sm-6">
				<p><span style='color:#428bca'>作者:</span>&nbsp;&nbsp;{{stu_account}}</p>
				<p><span style='color:#428bca'>编写时间:</span>&nbsp;&nbsp;{{time}}</p>
		       	</div>
		       	<div class="col-sm-2">
		       		<br>
				<button class="btn btn-info noteControl">展开内容</button>
		       	</div>
		      </div>
		      </br>
		       <div class="row note-content" style='display:none'>
			        <div class='col-sm-10 col-sm-offset-1'>
			       	 <p>{{content}}</p>
			        </div>
		       </div>
		     </div>
		    </div>
		  </div>
		
	{{/each}}
	
{{else}}
	{{#if role.student}}
	<div class='row'>
		<div class="col-sm-5">
			<h4>没有日记，我来写一篇吧！</h4>
		</div>
		<div class="col-sm-1">
	                <button class="btn btn-info" onclick="window.location='/student/{{account.id}}/write_note'">写日记</button>
	            </div>
	</div>
	{{else}}
	<div class='row'>
		<div class="col-sm-5">
			<h4> 暂时没有日记！</h4>
		</div>
	</div>
	{{/if}}

{{/if}}
<input type='hidden' id='tag' value='{{tag}}'>
</div>

{{#section 'jquery'}}
	<script>
		$('document').ready(function(){
			$('#header_nav li').eq(2).addClass('active');
			var tag = '#'+$('#tag').val();
			$(tag).addClass('active');
			$('#container').on('click','.noteControl',function(e){
				e.stopPropagation();
				console.log($(this).parents('.thumbnail').eq(0).find('.note-content').eq(0));
				$(this).parents('.thumbnail').eq(0).find('.note-content').eq(0).toggle(500);
				var value = ($(this)[0].innerHTML=='展开内容') ?'收起内容':'展开内容';
				$(this).html(value);
			})
		});
	</script>
{{/section}}